.food-search-result {
  cursor: pointer;
  padding: 10px;
}

.food-search-result:hover {
  background-color: var(--beta-border);
}

.result-selected,
.result-selected:hover {
  border: 2px solid var(--beta-border-dark);
  background-color: var(--beta-1);
}