.input-field-container label {
  display: block;
}

.input-field-container input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgb(173, 173, 173);
}

.input-field-sub-container {
  display: flex;
  position: relative;
}

.field-error input {
  border: 2px solid var(--danger);
}

.field-success input {
  border: 2px solid var(--success)
}

.hide-password-button {
  position: absolute;
  right: 3px;
  top: 50%;
  translate: 0 -50%;
  padding: 0;
  color: var(--epsilon-1);
  background: none;
  scale: 0.8;
}

.hide-password-button:hover {
  background: none;
}